.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.dropdown-method:hover {
    .dropdown-menu, .dropdown-menu:hover {
        display: block;
    }  
}

.cursor-pointer {
    cursor: pointer;
}

.bg-button {
    background-color: rgb(250, 250, 250) !important;
    color: rgb(155, 155, 155) !important;
    font-weight: bold;
}