div.url-info,
div.response {
    background-color:rgb(256, 256, 256);    
    ul {
        font-size: 10px;
        background-color:rgb(233, 233, 233);

        li:first-child {
            height: 15px;
            text-align: left;
            font-family: sans-serif;
            text-transform: uppercase;
            padding-top: 10px;
            padding-bottom: 25px;
            padding-left: 10px;
            background-color:rgb(256, 256, 256);
        }

        li {
            padding: 10px;
            padding-left: 10px;     
            background-color:rgb(233, 233, 233);
            border: 1px solid rgb(256, 256, 256);
            text-align: left;

            span:first-child {
                display: block;
                text-align: left;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
            }
            span:nth-child(n+2):nth-child(-n+3) {
                display: block;
                text-align: left;
                font-size: 13px;
            }
        }
    }
}



.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    width: 150px;
  }
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    .card {
      border: 1px solid dark-light !important;
      flex: 0 0 auto;
      height: 260px;
    }
  }


  .box { 
    margin: 0px 5px 0px 5px;
  }