.ratio-label {
    div {
        width: 280px;
        height: 240px;
        background-image: url(../../assets/chrono.png);

        h3 {
            padding-top: 95px;
        }
    }

    h1 {
        font-size: 2.3rem;
        font-weight: bold;
        color: rgb(204, 204, 204) !important;
    }
}